[Unit]
Description=Containerized build system for kernel module for %i
Documentation=man:podmod(8)

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/podmod load --module %i --idempotent
ExecStop=/usr/sbin/podmod unload --module %i --idempotent

[Install]
WantedBy=multi-user.target
